* {
    margin: 0;
    padding: 0;
  }

body {

    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ; 
    
    gap: 1px;


}



.header {    
    
    grid-column: 2 / 4;
    grid-row: 1 / 2;    
    background-color: 	#EDEADE;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 4px;
    box-shadow: 0 8px 6px -6px black;   
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    
}
.header img {
    height: 5rem;
}
object {
    background-color: white;
    cursor: pointer;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    grid-row: 1 / 3;
    background-color: #00acee;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.sidebar ul {
    margin-top: 4rem;
}

.mainContent {
    background-color: #F9F6EE;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 2rem 2rem;
    margin: 0 1px;
}
.card {
    padding: 1rem;
    background-color: #fcc90028;
    border-radius:10%;
    text-align: center;
    border-left: 20px solid rgb(110, 110, 3);
    
   

}
.card p {
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
   
}
.card .title {
    font-size: 1.2rem;
    font-weight: bold;
}


.sideContent {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #F9F6EE;
    display: grid;
    gap: 2rem; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-content: center;
}
.anon {
    display: grid;
    padding: 1rem;
    text-align: center;
    
    
    
     
    
}
.anon p {
    font-size: 0.8rem;
    box-shadow: 0 8px 6px -6px black;
    padding: 0.3rem;
    margin: 0.3rem
}
.trendCard {
    padding: 0.3rem;
    display: flex;
    gap: 0.2rem;
}

.home::before {
    content: '\f015';
    font-family: fontAwesome;
}
.profile::before {
    content: '\f007';
    font-family: fontAwesome;
}
.message::before {
    content: '\f0e0';
    font-family: fontAwesome; 
    
}
.history::before {
    content: '\f017';
    font-family: fontAwesome;
}
.task::before {
    content: '\f0ae';
    font-family: fontAwesome;
}
.comm::before {
    content: '\e533';
    font-family: fontAwesome;
}
.settings::before {
    content: '\f013';
    font-family: fontAwesome;
}
.support::before {
    content: '\f590';
    font-family: fontAwesome;    
}
.privacy::before {
    content: '\f3ed';
    font-family: fontAwesome;
}
ul span {
    width: 1rem;
    padding: 0.5rem;
}

.navitem {
    max-width:80%;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
    padding: .2rem;    
    align-items: center;
    
    
}
.logo {
    margin-top: 0.1rem;
    display: flex;
    height: 3rem;
    gap: 1rem;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    border: 0.5rem solid rgb(254, 253, 255);
    border-radius: 1em;
    border-top-right-radius: 5% 10%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.158);

    
}
.logoImg {
    
    
  

}

.svgbutton {
    background-color: white;
    width: 1.8rem;
    border: none;
    ;
}
.svgbutton2 {
    background-color: #EDEADE;
}
.icons button {
    background-color: #EDEADE;
}

.searchBox {
    
    display:grid;
    align-items: baseline;
    margin-top: 1rem;
    flex-shrink: 2;

}
.searchForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.searchForm button {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    margin-left: 0.7rem;
    cursor: pointer;
    
}
.searchForm input {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 0;
    border: 1px solid white;
    border-radius: 1rem;
    min-height: 35px;
    text-align: center;
    

}
.userLogo {
    display: flex;
    gap: 1rem;
}
.navHeader {
    margin-right: 5rem;
    
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    justify-content: space-around;
    
    justify-self: left;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    overflow: hidden;
}
.icons {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-self: flex-start;
    flex-shrink: 0;
    
    

}
.icons div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    
    
}
.navButton {
    width: 5rem;
    height: 2.5rem;
    border-radius: 15px;
    align-self: baseline;
    background-color: #00acee;
    color: white;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar h1 {
        display: none;
    }
    .navtext {
        display: none
    }
    .userLogo {
        display: none;
    }
    .header {
        display: grid;
        height:max-content;

    }
    .mainContent {
        grid-column: 2 / 4;
        z-index: 1;
    }
    .sideContent {
        display: none;
        z-index: 0;
    }

 

  }
